#createApartament{
    position: absolute;
    top:15px;
    right:10px;
}

@media only screen and (max-width:968px){
    h4{
        text-align: center;
    }
    
    #createApartament{
        position: relative;
        display:block;
        margin:auto;
    }
}