
<div class="container">

    <h4 class="mt-5">Welcome!</h4>

    <div style="position: relative;" class="mt-3">
        <h4>My apartaments</h4>
        <button 
        [routerLink]="['/','dashboard','create-apartament']"
        id="createApartament" 
        class="btn btn-success btn-danger">
            Create Apartament
        </button>
    </div>
    <div *ngIf="apartaments.items.length == 0" class="card-body mt-5">
        <div class="alert alert-danger">
            You not have apartament created 
            <button class="btn btn-light ml-5" [routerLink]="['/','dashboard','create-apartament']">Create my first apartament</button>
        </div>
    </div>

    <div class="d-block" style="display:block; margin:auto; max-width: 350px; margin-top:50px;">
        <pagination-controls 
        class="my-pagination"
        (pageChange)="pageChanged($event)"
        [maxSize]="apartaments.meta.totalPages"
        ></pagination-controls>
    </div>        


    <div class="row mt-5" *ngIf="apartaments.items.length > 0" >
        <div 
            class="col-12 col-md-6 col-lg-4 m-0 p-1" 
            *ngFor="
                let apartament of apartaments.items | paginate: { 
                    itemsPerPage: apartaments.meta.itemsPerPage, 
                    currentPage: apartaments.meta.currentPage,
                    totalItems: apartaments.meta.totalItems 
                }"  
            >
            <app-card 
            (status)="changeStatus($event)"
            (delete)="deleteDepartament($event)"
            [departament]="apartament"
            ></app-card>
        </div>
    </div>

    <div class="d-block" style="display:block; margin:auto; max-width: 350px; margin-top:50px;">
        <pagination-controls 
        class="my-pagination"
        (pageChange)="pageChanged($event)"
        [maxSize]="apartaments.meta.totalPages"
        ></pagination-controls>
    </div>
    
</div>