
<div class="row">
    <div class="col-12">
     
        <form class="d-block w-100 m-auto  align-items-center justify-center">
            <strong class="d-block mt-3">Option Filter</strong>
            <div class="form-row align-items-center w-100">
                <div class="col">
                    <div class="form-group">
                        <input 
                        type="number" 
                        class="form-control mt-3"  
                        id="filter_pisos" 
                        min="0"
                        placeholder="Floors"
                        >
                    </div>
                </div>

                <div class="col">
                    <select class="custom-select" id="filter_credit">
                        <option selected>Credit</option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                    </select>
                </div>

                <div class="col">
                    <div class="form-group">
                        <input 
                        type="number" 
                        class="form-control mt-3"  
                        id="filter_bedrooms" 
                        min="0"
                        placeholder="Beds"
                        >
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <input 
                        type="number" 
                        class="form-control mt-3"  
                        id="filter_bathrooms" 
                        min="0"
                        placeholder="baths"
                        >
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <input 
                        type="number" 
                        class="form-control mt-3"  
                        id="filter_price" 
                        min="0"
                        placeholder="Price"
                        >
                    </div>
                </div>

                <div class="col">
                    <select class="custom-select" id="filter_credit">
                        <option selected>Parking</option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                    </select>
                </div>

                <div class="col">
                    <button class="btn btn-warning">
                        <span class="material-icons">
                            search
                        </span>                            
                    </button>
                </div>

                <div class="col">
                    <button class="btn btn-danger">
                        <span class="material-icons">
                            clear
                        </span>
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>

