ul{
    list-style: none;
}

ul .material-icons{
    color: #717578;
    font-size:21px;
    margin-top:2px;
  }

.card-body{
    min-height:250px;
}

.card{
    cursor: pointer;  
    min-height: 450px;
}

.card-image{
    position: relative;
    display: block;
    width: 100% !important;
    height: 200px !important;
    background-size: cover !important;
    background-position: center !important;
}

.card:hover{
    box-shadow: 0px 0px 15px 0px rgba(50,50,50,.5);
}

.icon-card{
    width:18px;
    height:15px;
}

.departament{
    cursor:pointer;
}

.departament:hover{
    box-shadow: 0px 0px 15px 0px rgba(50,50,50,.5);
}

@media only screen and (min-width:968px){
    .card{
        min-height: 285px;
    }
}

@media only screen and (max-width:968px){
    .card-image{
        height: 350px !important;
    }
}