<app-filter (filterData)="getDataFromFilter($event)"></app-filter>

<div 
    *ngIf="apartaments.meta.totalPages > 1"
    class="d-block" 
    style="display:block; margin:auto; max-width: 350px; margin-top:50px;">
    <pagination-controls 
    class="my-pagination"
    (pageChange)="pageChanged($event)"
    [maxSize]="apartaments.meta.totalPages"
    ></pagination-controls>
</div>

<div *ngIf="error === true">
    <div class="alert alert-danger mt-3" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p>Something is wrong</p>
        <hr>
        <p class="mb-0">Apartaments are not loaded, try later.</p>
      </div>
</div>

<div *ngIf="apartaments.items.length === 0">
    <div class="alert alert-danger mt-3" role="alert">
        <h4 class="alert-heading">Not Found</h4>
        <p>There are not apartaments to show you</p>
        <hr>
        <p class="mb-0">No apartment results found, please come back later.</p>
      </div>
</div>

<app-loading class="d-block mt-5"  *ngIf="loading === true"></app-loading>

<div class="row mt-4" *ngIf="loading === false">
    <div 
        class="col-12 col-md-6 col-lg-4 m-0 p-1 mt-3" 
        *ngFor="
        let apartament of apartaments.items | paginate: { 
            itemsPerPage: apartaments.meta.itemsPerPage, 
            currentPage: apartaments.meta.currentPage,
            totalItems: apartaments.meta.totalItems 
        }" 
        >
        <app-card [departament]="apartament"></app-card>
    </div>
</div>

<div 
    *ngIf="apartaments.meta.totalPages > 1"
    class="d-block" 
    style="display:block; margin:auto; max-width: 350px; margin-top:50px;">
    <pagination-controls 
    class="my-pagination"
    (pageChange)="pageChanged($event)"
    [maxSize]="apartaments.meta.totalPages"
    ></pagination-controls>
</div>
