<div class="departament">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div 
                class="bg"
                style="background-image: url('https://i.pinimg.com/originals/06/41/b9/0641b9f2f2d13501d2bf9a4bde372149.jpg')">

                </div>
            </div>
            <div class="carousel-item">
                <div 
                class="bg"
                style="background-image: url('https://i.pinimg.com/originals/06/41/b9/0641b9f2f2d13501d2bf9a4bde372149.jpg')">

                </div>
            </div>
            <div class="carousel-item">
                <div 
                class="bg"
                style="background-image: url('https://i.pinimg.com/originals/06/41/b9/0641b9f2f2d13501d2bf9a4bde372149.jpg')">

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row mt-4">
        <div class="col-8">
            <strong class="text-left">1108 ShowBox St</strong>
            <span class="d-block text-left">Pflugerville, TX 78660</span>
            <ul class="d-flex m-0 p-0 mt-5">
                <li class="ml-0">
                    <img class="icon-departament" src="assets/icons/room-icon.png" alt="">
                    <span>3 rooms</span>
                </li>
                <li>
                    <img class="icon-departament"  src="assets/icons/bathroom-icon.png" alt="">
                    <span>3 Bathrooms</span>
                </li>
                <li>
                    <img class="icon-departament" src="assets/icons/credit-icon.png" alt="">
                    <span>Credit</span>
                </li>
                <li>
                    <img class="icon-departament" src="assets/icons/garage-icon.png" alt="">
                    <span>Parking</span>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <strong class="d-block text-right">$420,990</strong>
            <span class="d-block text-right">ID No. 12356</span>
        </div>
    </div>
</div>