
<div class="container-fluid" (paste)="onPaste($event)">

    <div class="card mt-5">
        <div class="card-header">
            <h2 class="card-title">Crear Apartamento</h2>
        </div>
        <div class="card-body">   
            <div 
            *ngIf="error"
            class="alert alert-danger">
                Corrige los siguientes errores
            </div>  
            <app-loading *ngIf="loading"></app-loading>
            <form *ngIf="loading == false"
            [formGroup]="form" 
            (submit)="createApartament(apartament_id)">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <input 
                            type="text" 
                            class="form-control" 
                            id="title"
                            placeholder="Titulo"
                            formControlName="title"
                            name="title"
                            required
                            >
                        </div>
                        <div 
                            class="text-danger mt-2"
                            *ngIf="error && error.indexOf('title should not be empty') > -1">
                                Este valor es requerido
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <input 
                            type="number" 
                            class="form-control" 
                            id="price"
                            placeholder="price"
                            formControlName="price"
                            name="price">
                        </div>
                        <div 
                            class="text-danger mt-2"
                            *ngIf="error && error.indexOf('price should not be empty') > -1">
                                Este valor es Requerido
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <input 
                            type="text" 
                            class="form-control" 
                            id="address"
                            placeholder="Address"
                            formControlName="address"
                            name="address">
                        </div>
                        <div 
                            class="text-danger mt-2"
                            *ngIf="error && error.indexOf('address must be a string') > -1">
                                This value is required
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <input 
                            type="text" 
                            class="form-control" 
                            id="phone"
                            placeholder="Teléfono "
                            formControlName="phone"
                            name="phone">
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <label>Piso</label>
                        <select 
                        class="custom-select" 
                        id="floors_filter"
                        id="floors"
                        formControlName="floors"
                        >
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="Ático">Ático</option>
                            <option value="others">Otro</option>
                        </select>
                        <div 
                            class="text-danger mt-2"
                            *ngIf="error && error.indexOf('floors must be a string') > -1">
                                Este valor es requerido
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <label>Habitaciones</label>
                        <select 
                        class="custom-select" 
                        id="beds_filter"
                        formControlName="bedrooms"
                        name="bedrooms"
                        >
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="full_house">Full house</option>
                        </select>
                        <div 
                            class="text-danger mt-2"
                            *ngIf="error && error.indexOf('bedrooms must be a string') > -1">
                                Ete valor es requerido
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <label>Baños</label>
                        <select 
                        class="custom-select"
                            id="bathrooms"
                            formControlName="bathrooms"
                            name="bathrooms">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="more_than_3">Más de 3</option>
                        </select>
                        <div 
                            class="text-danger mt-2"
                            *ngIf="error && error.indexOf('bathrooms must be a string') > -1">
                                Este valor es requerido
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mt-lg-4">
                        <label>Trenes</label>
                        <select 
                        class="custom-select" 
                        id="train"
                        formControlName="train"
                        name="train" 
                        >
                            <option *ngFor="let train of trains" value="{{ train.id }}">{{ train.code }} | {{ train.city}}</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-4 mt-lg-4">
                        <label>Ciudad</label>
                        <select 
                        class="custom-select" 
                        id="city"
                        formControlName="city"
                        name="city" 
                        (change)="getSubCities($event)"
                        >
                            <option selected></option>
                            <option *ngFor="let city of cities" value="{{ city.id }}">{{ city.name}}</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-4 mt-lg-4">
                        <label>Subciudad</label>
                        <select 
                        class="custom-select" 
                        id="city"
                        formControlName="subcity"
                        name="subcity" 
                        >
                            <option *ngFor="let subcity of subcities" value="{{ subcity.id }}">{{ subcity.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-lg-4">
                        <p>Crédito</p>
                        <div class="custom-control custom-switch">
                            <input 
                            class="custom-control-input" 
                            id="creditSwitch" 
                            type="checkbox"
                            formControlName="credit"
                            name="credit">
                            <span class="custom-control-track"></span>
                            <label class="custom-control-label" for="creditSwitch"></label>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <p>Estacionamiento</p>
                        <div class="custom-control custom-switch">
                            <input 
                            class="custom-control-input" 
                            id="parkingSwitch" 
                            type="checkbox"
                            formControlName="parking"
                            name="parking">
                            <span class="custom-control-track"></span>
                            <label class="custom-control-label" for="parkingSwitch"></label>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <p>Mascotas</p>
                        <div class="custom-control custom-switch">
                            <input 
                            class="custom-control-input" 
                            id="petsSwitch" 
                            type="checkbox"
                            formControlName="pets"
                            name="pets">
                            <span class="custom-control-track"></span>
                            <label class="custom-control-label" for="petsSwitch"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <textarea 
                            formControlName="description"
                            name="description"
                            class="form-control mt-3" 
                            id="description" 
                            rows="3"
                            placeholder="Descripción"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <textarea 
                            formControlName="internal_description"
                            name="internal_description"
                            class="form-control mt-3" 
                            id="description" 
                            rows="3"
                            placeholder="Descripción interna (Visible solo para agentes)"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        
                        <!-- Show uploaded  images by user 
                        latere here cropped images will be 
                        replaced with origional -->
                        <div style="display:flex; flex-wrap: wrap; width: 100%; margin:auto; padding:0; max-width:1000px">
                            <div *ngFor="let item of ulpoadedFiles" style="margin:5px; position:relative">
                                <span (click)="cropImage(item.imgId)">
                                    <img [src]="item.imgBase64" style="max-width:300px;max-height:100px ;border:2px solid gray" />
                                </span>
                                <button 
                                (click)="deleteImage(item.imgId)"
                                type="button" 
                                class="btn btn-danger float-right mt-2 ml-2">
                                    <span class="material-icons">
                                        delete
                                    </span>
                                </button>
                            </div>
                        </div>
                        <!--  -->


                        <!-- this will allow user select multiple Images -->
                        <div class="custom-file">
                            <input 
                            id="validatedCustomFile" 
                            class="custom-file-input" 
                            type="file" 
                            multiple 
                            
                            (change)="fileChangeEvent($event)"
                            accept="image/*" 
                            #image />
                            <label class="custom-file-label" for="validatedCustomFile">
                                Upload Fiel About Apartament
                            </label>
                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                        </div>
                        <!--  -->
                    </div>
                </div>
                <input type="submit" class="btn btn-success float-right mt-5" value="Save">
            </form>
        </div>
    </div>
</div>
<button 
class="d-none" 
id="btnFileModal"
data-toggle="modal" 
data-target="#FileModal"
>
    Login
</button>


<!-- Modal -->
<div 
    class="modal fade" 
    id="FileModal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="exampleModalCenterTitle" 
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <div class="modal-body">
                <image-cropper 
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="16 / 9"
                    [resizeToWidth]="600"
                    format="png"
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()"
                    (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()"></image-cropper>
            </div>
            <div class="modal-footer">
                <button 
                class="btn btn-indigo" 
                type="button"
                (click)="SaveCropedImage()"
                >Save</button>
                <button 
                type="button" 
                class="btn btn-secondary" 
                data-dismiss="modal"
                (click)="onCloseHandled()"
                >Close</button>
            </div>
        </div>
      </div>
    </div>
</div>
